<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--	
   $Autor:			Franlin Colque S.
   $identificador: 	isx1535386	
   $Date: 			2018/05/19 
-->

<section><h2 id="about-me">Breve descripcion sobre mi:</h2>
	<hr class="bar"/>
		<div class="about-lock">
			<div ontouchstart="this.classList.toggle('hover');" class="flip-container">
				<div class="flipper">
					<div class="front">
						<div class="face-img">
						</div>
					</div>
					<div class="back">
						<div class="face1-img">
						</div>
					</div>
				</div>
			</div>
			<div class="glyph-icon flaticon-cogwheel28">
			</div>
			<div class="glyph-icon flaticon-computer1">
			</div>
			<div class="glyph-icon flaticon-hosting">
			</div>
			<div class="glyph-icon flaticon-computers13">
			</div>
		</div>
		<div class="blurb">
			<p>hola me llamo franlin colque , vivo en Barcelona (Hospitalet de llobregat) 
			actualmente estoy estudiando el curso de administración de sistemas informatico en red.
			Tambien estoy en una academia de ingles en Barcelona</p></div><div class="skill-lock"></div></section>
