<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--	
   $Autor:			Franlin Colque S.
   $identificador: 	isx1535386	
   $Date: 			2018/05/19 
-->

<div id="container1" class="arrow">
</div>
	<div id="container" class="logo">
	</div>
	<header id="home">
		<nav><a href="#about-me">Sobre mi</a>
		<a href="#Experenice">Experiencias</a>
		<a href="#Blog">Blog</a>
		<a href="#Details">Contactame</a>
		</nav>
		<h1>
			<span>Franlin colque</span>
		</h1>
		<p class="kicker">Estudiante de ASIR // Estudiante de Ingles </p>
	</header>
