<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--	
   $Autor:			Franlin Colque S.
   $identificador: 	isx1535386	
   $Date: 			2018/05/19 
-->

<div class="history">
	<div class="cd-timeline-header">
		<h2 id="Experenice">Experiencias</h2>
		<hr class="bar"/>
	</div>
<section id="cd-timeline" class="cd-container">
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2 class="story-heading">Estudiante de la secundaria</h2>
		<P>Estudie y termine el instituto en este año en mi Pais de procedencia Bolivia</P>
		<span class="cd-date">2010-2013</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Estudios Postobligatorios</h2>
		<p>Estudie el bachillerato cientifico en Cataluña.
			Habia llegado recientemente de mis pais y tuve una dificial 
			adapctación pero al final si que pude.</p>
		<span class="cd-date">sept 2013</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Estudiante de cfgs</h2>
		<p>Al acabar bachillerato  decidi Estudiar un ciclo superior
		de informatica porque es lo más me aposionaba y es lo que continuo
		estudiando.</p>
		<span class="cd-date"> Sept 2016</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>

	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Academia de Ingles</h2>
		<p>Empeza la academia de ingles porque me era imprescindible
		para formarme en la familia de informática</p>
		<span class="cd-date">Sept 2017 - now</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>
	
	<div class="cd-timeline-block">
	<div class="cd-timeline-content">
		<h2>Mis aficiones</h2>
		<p>El futbol y el basket son mis principales aficiones.</p>
		<span class="cd-date">Gustos</span>
	</div>
	<!-- cd-timeline-content--><!-- cd-timeline-block-->
	</div>

</section>
</div>
